@page "/HomePage/"
@model RazorLoginPage.Pages.HomePageModel
<style>
	h2 {
		margin: 30px 0px 10px 0px;
	}
	.movie-row{
		display:flex;
		justify-content:flex-start;
		flex-wrap:wrap;
		margin: 0 -15px;
	}

	.main-body{
		magin:20px,5%;
	}

	.movie-card{
		background-color:lightgrey;
		width:17%;
		height: 200px;
		margin-left:15px;
		margin-top: 15px;
		
	}
	.movie-card-img{
		width:100%;
		height:75%;
		background-color:darkgrey;				
	}

	.movie-card-img-btn{
		width: 100%;
		height: 100%;
		background-color: darkgrey;
	}
	footer{
		background-color:black;
		color:white;
		width:100%;
	}	
</style>
<div class="main-body">	
	<form method="get">
		<input type="text" placeholder="Tìm tên phim,diễn viên..." asp-for="StringSearch" />
		<input type="submit" hidden />
	</form>
	@if (Model.StringSearch == null)
	{
		<h2 class="text-primary">PHIM ĐỀ CỬ</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">

				@foreach (var movie in Model.movieList)
				{
					<div class="movie-card">
						@if (movie.IsPhimLe)
						{
							<span class="movie-tag">@movie.MovieState</span>
						}
						else
						{
							<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
						}
						<form method="post" class="movie-card-img" >
							<input hidden value="@movie.Id" asp-for="MovieID" />
							<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
						</form>
						
						<div class="movie-card-name">@movie.Title</div>
					</div>
				}
			</div>
		</div>
		<h2 class="text-primary">PHIM LẺ MỚI CẬP NHẬT</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					if ((int)movie.AirYear >= 2022 && movie.IsPhimLe == true)
					{
						<div class="movie-card">
							@if (movie.IsPhimLe)
							{
								<span class="movie-tag">@movie.MovieState</span>
							}
							else
							{
								<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
							}
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
					}
				}
			</div>
		</div>
		<h2 class="text-primary">PHIM BỘ MỚI CẬP NHẬT</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					if ((int)movie.AirYear >= 2000 && movie.IsPhimLe == false)
					{
						<div class="movie-card">
							@if (movie.IsPhimLe)
							{
								<span class="movie-tag">@movie.MovieState</span>
							}
							else
							{
								<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
							}
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
					}
				}
			</div>
		</div>
		<h2 class="text-primary">PHIM SẮP CHIẾU</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					if ((int)movie.AirYear > DateTime.Now.Year)
					{
						<div class="movie-card">
							@if (movie.IsPhimLe)
							{
								<span class="movie-tag">@movie.MovieState</span>
							}
							else
							{
								<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
							}
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
					}
				}
			</div>
		</div>
	}
	else
	{
		<h2 class="text-primary">TỪ KHÓA: @Model.StringSearch</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.FilteredMovie)
				{
					<div class="movie-card">
						@if (movie.IsPhimLe)
						{
							<span class="movie-tag">@movie.MovieState</span>
						}
						else
						{
							<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
						}
						<form method="post" class="movie-card-img">
							<input hidden value="@movie.Id" asp-for="MovieID" />
							<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
						</form>
						<div class="movie-card-name">@movie.Title</div>
					</div>
				}
			</div>
		</div>
	}		
</div>
<footer>
	test footer

</footer>

