@page
@model RazorLoginPage.Pages.FilteredPage.FilteredMoviePageModel
<style>
	h2 {
		margin: 30px 0px 10px 0px;
	}

	.movie-row {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	.main-body {
		magin: 20px,5%;
	}

	.movie-card {
		background-color: lightgrey;
		width: 17%;
		height: 200px;
		margin-left: 15px;
		margin-top: 15px;
	}	
	.movie-card-img {
		width: 100%;
		height: 75%;
		background-color: darkgrey;
	}

	.movie-card-img-btn {
		width: 100%;
		height: 100%;
		background-color: darkgrey;
	}

	footer {
		background-color: black;
		color: white;
		width: 100%;
	}
</style>
<div>
	<form method="get">
		<input type="text" placeholder="Tìm tên phim,diễn viên..." asp-for="StringSearch" />
		<input type="submit" hidden />
	</form>
	@if (Model.FilterString.Equals("phimLe"))
	{
		<h2 class="text-primary">Phim Lẻ:</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					@if (!movie.IsPhimLe)
					{
						<div class="movie-card">							
							<span class="movie-tag">@movie.CurrentEpisodes/@movie.MaxEpisode</span>														
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
						Model.HasMovie = true;
					}					
				}
			</div>
		</div>
	}
	else if (Model.FilterString.Equals("phimBo"))
	{
		<h2 class="text-primary">Phim Bộ:</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					@if (movie.IsPhimLe)
					{
						<div class="movie-card">
							<span class="movie-tag">@movie.MovieState</span>
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
						Model.HasMovie = true;
					}
				}
			</div>
		</div>
	}
	else if (Model.FilterString != null && Model.StringSearch == null)
	{
		@if (@Model.FilterInt != 0)
		{
			<h2 class="text-primary test">Phim @Model.FilterInt</h2>
		}
		else
		{
			<h2 class="text-primary test">Phim @Model.FilterString</h2>
		}
		
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.movieList)
				{
					@if (movie.Category.Contains(Model.FilterString) || movie.Nation.Equals(Model.FilterString)
						|| movie.AirYear == Model.FilterInt)
					{
						<div class="movie-card">
							@if (movie.IsPhimLe)
							{
								<span class="movie-tag">@movie.MovieState</span>
							}
							else
							{
								<span class="movie-tag">@movie.CurrentEpisodes/@movie.MaxEpisode</span>
							}
							<form method="post" class="movie-card-img">
								<input hidden value="@movie.Id" asp-for="MovieID" />
								<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
							</form>
							<div class="movie-card-name">@movie.Title</div>
						</div>
						Model.HasMovie = true;
					}else if (Model.FilterString.Equals("truoc 2014"))
					{
						if (movie.AirYear <= 2014)
						{
							<div class="movie-card">
								@if (movie.IsPhimLe)
								{
									<span class="movie-tag">@movie.MovieState</span>
								}
								else
								{
									<span class="movie-tag">@movie.CurrentEpisodes/@movie.MaxEpisode</span>
								}
								<form method="post" class="movie-card-img">
									<input hidden value="@movie.Id" asp-for="MovieID" />
									<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
								</form>
								<div class="movie-card-name">@movie.Title</div>
							</div>
							Model.HasMovie = true;
						}
					}					
				}				
			</div>
		</div>
	}
	


	@if(Model.StringSearch != null)
	{
		<h2 class="text-primary">TỪ KHÓA: @Model.StringSearch</h2>
		<div class="recommended-movie-container">
			<div class="movie-row">
				@foreach (var movie in Model.FilteredMovie)
				{
					<div class="movie-card">
						@if (movie.IsPhimLe)
						{
							<span class="movie-tag">@movie.MovieState</span>
						}
						else
						{
							<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
						}
						<form method="post" class="movie-card-img">
							<input hidden value="@movie.Id" asp-for="MovieID" />
							<button type="submit" asp-page-handler="MovieHandler" class="btn movie-card-img-btn">movie image</button>
						</form>
						<div class="movie-card-name">@movie.Title</div>
					</div>
					Model.HasMovie = true;
				}
			</div>
		</div>
	}
	@if (!Model.HasMovie)
	{
		<h2 text-secondary>Không tìm thấy phim trong danh mục này</h2>
	}
</div>
