@page
@model RazorLoginPage.Pages.MovieWatch.MovieWatchPageModel
<style>
	.watch-sreen {
		width: 100%;
		height: 300px;
		background-color: gray;
		display: block;
	}

	.movie-row {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -15px;
		flex-direction: row;
	}

	h2 {
		margin: 30px 0px 10px 0px;
	}

	.main-body {
		magin: 20px,5%;
	}

	.movie-card {
		background-color: lightgrey;
		width: 17%;
		height: 200px;
		margin-left: 15px;
		margin-top: 15px;
	}

	.movie-card-img {
		width: 100%;
		height: 75%;
		display: block;
		background-color: darkgrey;
	}

	.movie-card-img-btn {
		width: 100%;
		height: 100%;
		background-color: darkgrey;
	}
</style>
<h2 class="text-primary">This is a movie watch page</h2>
<div class="watch-sreen">Watch Screen</div>
<div>Danh sach tap</div>
<div>
	danh gia phim:
	<input />
</div>
<h2 class="text-primary">@Model.Movie.Title -
	@if (Model.Movie.IsPhimLe)
	{
		@Model.Movie.MovieState
	}
	else
	{
		<span>Tap: @Model.Movie.CurrentEpisodes</span>
	}
</h2>
<div class="banner">
	<p style="white-space:nowrap">
	<p style="display:inline-block"><a asp-page="/HomePage/Index">Xem phim</a>></p>
	<a>
			@foreach (var catergory in Model.Movie.Category)
			{
			<p style="display:inline-block"><a asp-page="/FilteredPage/FilteredMoviePage" asp-route-filterString="@catergory">@catergory</a>></p>
			}
	</a>
		@Model.Movie.Title>@(Model.Movie.IsPhimLe ? Model.Movie.MovieState : Model.Movie.CurrentEpisodes)
	</p>
</div>
<div>
	Binh luan:
	<input />
</div>
<div class="recomened-movie">
	<h2 class="text-primary">Có thể bạn cũng thích</h2>
	<div class="recommended-movie-container">
		<div class="movie-row">
			@foreach (var movie in Model.movieList)
			{
				@if (movie.Actors.Intersect(Model.Movie.Actors).Any() || movie.Director.Contains(Model.Movie.Director))
				{
					<div class="movie-card">
						@if (movie.IsPhimLe)
						{
							<span class="movie-tag">@movie.MovieState</span>
						}
						else
						{
							<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
						}
						<a class="movie-card-img" asp-route-id="@movie.Id" asp-page="/Movies/MovieInfoPage">Movie image</a>
						<div class="movie-card-name">@movie.Title</div>
					</div>
				}
			}
		</div>
	</div>
	<h2 class="text-primary">Phim cùng thể loại</h2>
	<div class="recommended-movie-container">
		<div class="movie-row">
			@foreach (var movie in Model.movieList)
			{
				@if (movie.Category.Intersect(Model.Movie.Category).Any())
				{
					<div class="movie-card">
						@if (movie.IsPhimLe)
						{
							<span class="movie-tag">@movie.MovieState</span>
						}
						else
						{
							<span class="movie-tag">tap @movie.CurrentEpisodes/@movie.MaxEpisode</span>
						}
						<a class="movie-card-img" asp-route-id="@movie.Id" asp-page="/Movies/MovieInfoPage">Movie image</a>
						<div class="movie-card-name">@movie.Title</div>
					</div>
				}
			}
		</div>
	</div>
</div>
</div>

