@page
@model RazorLoginPage.Pages.Users.IndexModel

<div class="container p-3">
	@if (ViewData["CreateSuccess"] != null)
	{
		<div class="text-con">@ViewData["CreateSuccess"]</div>
	}
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">User List:</h2>
		</div>
		<div class="col-6">
			<a asp-page="Create" class="btn btn-primary">Add new user</a>
		</div>
	</div>
	<br/><br/>
	<table class="table table-bordered table-striped" style="width:100%;">
		<thead>
			<tr>
				<th>User Name</th>
				<th>User Email</th>
				<th>User Password</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var user in Model.Users)
			{
				<tr>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					<td>@user.Password</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="Edit" asp-route-id="@user.UserId" class="btn btn-primary">Edit</a>
							<a asp-page="Delete" asp-route-id="@user.UserId" class="btn btn-danger">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>

	</table>
</div>
